<div class="no-flow-y no-flow-x">
    <section class="row bg-white bsh-gen">
        <div class="col-md-6 offset-md-3 my-3">
            <img class="m-auto d-flex" src="assets/images/Logo.svg" alt="">
        </div>
    </section>
    <section class="bg-gen d-flex justify-content-center py-5 mt-1">
        <div class=" round-8 bg-white shape p-5">
            <div class="fw-500 font-24 color-text mb-4">Please fill this form</div>
            <div class="mb-4">
                <span><img class="icons" src="assets/icons/mail.svg" alt=""></span>
                <input class="jb-input font-18 w-full fw-500 color-text round-8 " type="email" placeholder="Email">
            </div>
            <div class="mb-4"> 
                <span><img class="icons" src="assets/icons/user.svg" alt=""></span>
                <input class="jb-input font-18 w-full fw-500 color-text round-8 " type="text" placeholder="Full Name">
            </div>
            <div class="mb-4">
                <span><img class="icons" src="assets/icons/password.svg" alt=""></span>
                <input class="jb-input font-18 w-full fw-500 color-text round-8 " type="password" placeholder="Create Password">
            </div>
            <div class="mb-4 mt-5">
                <button class="bg-blue py-2 no-border round-8 w-full font-18 text-center color-white fw-500">Continue</button>
            </div>
            <div class="font-18 color-text fw-500 text-center mb-4">or</div>
            <div class="mb-4 color-black font-18 fw-500 text-center border-gen round-8 py-2">
                <span><img src="assets/images/google.svg" alt=""></span> Google
            </div>
        </div>
    </section>
    <section class="row bg-black ">
        <div class="text-center fw-500 font-18 color-white my-15"> Jobberman 2021.  All rights reserved.</div>
    </section>
</div>