<section class="bg-white">
  <mat-dialog-content class="bg-white">
      <div class="p-2 ">
        <div class="text-center"> 
            <div class="font-24 fw-500 color-black mb-4">Hey, Welcome to Jobberman</div>
            <div class="font-14 color-black mb-5">continue setting up your profile
              and get started and get personalized with our features</div>
        </div>
        <div class="d-flex justify-content-between mb-2">
            <button (click)="modalResponse(1)" class="font-14 fw-500 btn-white round-10 p-3 w-120 text-center">Continue</button>
            <button (click)="modalResponse(2)" class="font-14 fw-500 btn-white round-10 p-3 w-120 text-center">Not now</button>
        </div>
      </div>
  </mat-dialog-content>
</section>
